.questionInputContainer {
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.14), 0px 0px 2px rgba(0, 0, 0, 0.12);
    width: 100%;
    padding: 15px;
    background: white;
}

.questionLogo {
    padding: 24px;
}

.questionInputTextArea {
    width: 100%;
    line-height: 40px;
}

.questionInputTextAreaInput {
    font-size: 16px;
}

.questionInputButtonsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.questionInputSendButton {
    cursor: pointer;
}

.questionInputSendButtonDisabled {
    opacity: 0.4;
}
