.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.stack {
    height: 100%;
}

.stackItem {
    display: flex;
    height: 100%;
    width: 70%;
    margin-right: 5px;
    flex-direction: row-reverse;
}

.stackItemConfig {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.2) 3px 1px 1px 3px; */
}

.chatRoot {
    flex: 1;
    display: flex;
}

.chatContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100%; */
}

.chatEmptyState {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 1024px;
    padding-top: 60px;
}

.chatEmptyStateTitle {
    font-size: 4rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 30px;
}

.chatEmptyStateSubtitle {
    font-weight: 600;
    margin-bottom: 10px;
}

@media only screen and (max-height: 780px) {
    .chatEmptyState {
        padding-top: 0;
    }

    .chatEmptyStateTitle {
        font-size: 3rem;
        margin-bottom: 0px;
    }
}

.chatMessageStream {
    flex-grow: 1;
    max-width: 1028px;
    width: 100%;
    overflow-y: auto;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
}

.chatMessageGptMinWidth {
    max-width: 500px;
    margin-bottom: 20px;
}

.chatInput {
    position: sticky;
    bottom: 0;
    /* flex: 0 0 100px; */
    padding-top: 12px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    max-width: 1028px;
    background: #ffffff;
    display: flex;
    flex-direction: row;
}

.chatAnalysisPanel {
    flex: 1;
    overflow-y: auto;
    max-height: 89vh;
    margin-left: 20px;
    margin-right: 20px;
}

.chatSettingsSeparator {
    padding: 15px;
}

.chatSettingsLabel {
    font-size: 20px;
    font-weight: bold;
    font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
}

.loadingLogo {
    font-size: 28px;
}

.commandsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.commandButton {
    margin-right: 20px;
}
