.layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    background-color: rgb(0, 120, 212);
    height: 44px;
}
.headerTitle {
    display: flex;
    align-items: center;
    justify-content: left;
    text-decoration: none;
    color: #f2f2f2;
    width: 1500px;
    float: left;
}
.headerTitleText {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #f2f2f2;
    width: 150px;
    font-size: 16px;
}

.headerCommandBar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
}

.headerAvatar {
    display: flex;
    width: 50px;
    align-items: center;
    justify-content: center;
}
